@model IEnumerable<BeFit.Models.UserProfileViewModels.MealDetailViewModel>
@{
    ViewData["Title"] = "All meals";
}

<h2>All meals</h2>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Date</label>
                </th>
                <th>
                    <label>Water</label>
                </th>
               <th>
                    <label>Carbohydrate</label>
                </th>
                <th>
                    <label>Fat</label>
                </th>
                <th>
                    <label>Protein</label>
                </th>
                <th>
                    <label>Cal</label>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               <tr>
                    <td>
                        @item.OneDayFoodViewModel.Date
                    </td>
                    
                            <td>
                                @Html.DisplayFor(modelItem => item.OneDayFoodViewModel.Water)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCountMealPerIngestion.TotalCarb)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCountMealPerIngestion.TotalFat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCountMealPerIngestion.TotalProtein)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCountMealPerIngestion.TotalCal)
                            </td>
                           
                            <td>
                                <a asp-action="Detail" asp-route-id="@item.OneDayFoodId">Detail</a> 
                          
                            </td>

                      </tr> 
                       
                    }
       

    </table>
    <a asp-action="Create" asp-route-id="@ViewData["user"]">Add new</a>

</div>
