@model PagerList<BeFit.Models.Exercise>

@{
    ViewData["Title"] = "List";
}
@*<style>
    thead,tbody{background-color: lightgray;}</style>*@
<style>
    .in-block {
       
        display: inline-block;
       height: 350px;
        width: 370px; /* Ширина */
    margin: 0 10px 10px 0; /* Отступы */
    padding: 10px 0; /* Поля сверху и снизу */
        vertical-align: top;
    }
    .in-block img{ 
        border: black;
        height: 200px;
        max-width: 250px;
         
                    
    }
</style>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2>Exercises</h2>

                <form asp-action="List" Method="get">
                    <div class="form-actions no-color">
                        <label>Search: </label>
                        <input type="text" name="filter" value="@ViewData["currentFilter"]" />
                        <input type="submit" value="search" class="btn-default" />
                        <a asp-action="List">Back to full list</a>
                    <div class="pull-right">
                        <a  asp-action="List" asp-route-pageSize="6"> 6 </a>
                        <label > | </label>
                        <a  asp-action="List" asp-route-pageSize="12"> 12  </a>
                    </div>
                        </div>
                </form>
            
               
               <hr/>
                   @foreach (var item in Model)
                   {
                    <div class="in-block">
                        <div class="well"><a asp-controller="AdminExercises" asp-action="Details" asp-route-id="@item.ExerciseID">@item.Name</a>
                           
                            @if (item.Muscles != null)
                            {

                                @Html.DisplayFor(modelItem => item.Muscles)
                            }

                            <p>
                                @if (item.ImageData != null)

                                {
                                    <img alt="Exercise image"  src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageData))" />

                                }
                                
                            </p>
                        </div>

                    </div>
                   }


            </div>
        </div>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="List" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex-1)" asp-route-pageSize="@ViewData["SizePage"]" asp-route-currentFilter="@ViewData["currentFilter"]" class="btn-default @prevDisabled btn">Previous</a>
    <a asp-action="List" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex+1)" asp-route-pageSize="@ViewData["SizePage"]" asp-route-currentFilter="@ViewData["currentFilter"]" class="btn-default @nextDisabled btn">Next</a>

</div>
