@model PagerList<Exercise>

@{
    ViewData["Title"] = "Exercises";
}

<div class="container" style="padding: 20px">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="List" method="get" class="form-group" style="padding: 10px">
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="control-label" style="margin-top: 10px; margin-left: 20px">Search: </label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="filter" value="@ViewData["currentFilter"]" />
                            </div>
                            <input type="submit" value="search" class="btn btn-success" />
                            <a asp-action="List" class="btn btn-grey">Back to full list</a>
                            <div class="pull-right">
                                <a asp-action="List" asp-route-pageSize="12"> 12 </a>
                                <label> | </label>
                                <a asp-action="List" asp-route-pageSize="24"> 24 </a>
                            </div>
                        </div>
                </form>


                <hr /><div class="section">
            
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-4 col-sm-6 grid cs-style-2">
                                        <figure>
                                            @if (item.ImageData != null)

                                            {
                                                <img style="border:2px solid grey" alt="Exercise image" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageData) )"/>
                                            }

                                            <figcaption>
                                                <h3>@item.Name</h3>
                                                @if (item.Muscles != null)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Muscles)
                                                }
                                                <p>
                                                    <a asp-controller="AdminExercises" asp-action="Details" asp-route-id="@item.ExerciseID">Details</a>
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                }
                           

                        </div>
               

                          </div>
                        </div>
                    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="pager">
        <a asp-action="List" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex - 1)" asp-route-pageSize="@ViewData["SizePage"]" asp-route-currentFilter="@ViewData["currentFilter"]" class="btn-default @prevDisabled btn">Previous</a>
        <a asp-action="List" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex + 1)" asp-route-pageSize="@ViewData["SizePage"]" asp-route-currentFilter="@ViewData["currentFilter"]" class="btn-default @nextDisabled btn">Next</a>
    </div>
</div>