@model BeFit.Models.UserProfileViewModels.UserProfileViewModel
@{ ViewData["Title"] = "Profile"; }

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <form id="form" asp-action="Edit" enctype="multipart/form-data" method="get" class="form-horizontal">
        <div id="img">

            <img alt="photo" src="@Url.Content(Model.ImagePath)"/>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label >@Model.FirstName</label>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondName" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label>@Model.SecondName</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label >@Model.Sex</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label >@Model.DateOfBirth.Date.Date</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfRegisrtration" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label >@Model.DateOfRegisrtration.Date</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Height" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label>@Model.Height</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CurrentWeight" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label >@Model.CurrentWeight</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Goal" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label >@Model.Goal</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WeeksForGoal" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label class="text-nowrap">@Model.WeeksForGoal</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BaseCal" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label class="text-nowrap">@Model.BaseCal</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReachGoal" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <label class="text-nowrap">@Model.ReachGoal</label>
            </div>
        </div>


    </form>
    <a asp-action="Edit" asp-route-id="@ViewData["user"]">Edit</a>
    <br/>
    <a asp-action="Detail" asp-controller="Measurement" asp-route-id="@ViewData["user"]">Measurements</a>
    <br />
    <a asp-action="Index" asp-controller="Meal" asp-route-id="@ViewData["user"]">Meals</a>
    <br />
    <a asp-action="Index" asp-controller="UserWorkout" asp-route-id="@ViewData["user"]">Workouts</a>
    <br />
    <a asp-action="WorkoutChart" asp-controller="Charts" asp-route-id="@ViewData["user"]">Workout Charts</a>
    <br />
    <a asp-action="MealChart" asp-controller="Charts" asp-route-id="@ViewData["user"]">Meal Charts</a>
    <br />
    <a asp-action="MeasureChart" asp-controller="Charts" asp-route-id="@ViewData["user"]">Measurement Charts</a>


</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}