@model PagerList<Tag>

@{
    ViewData["Title"] = "Index";
}
@*<style>
    thead,tbody{background-color: lightgray;}</style>*@

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2>Administration Tags</h2>
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <form asp-action="Index" Method="get">
                    <div class="form-actions no-color">
                        <label>Search: </label>
                        <input type="text" name="filter" value="@ViewData["currentFilter"]"/>
                        <input type="submit" value="search" class="btn-default"/>
                        <a asp-action="Index">Back to full list</a>
                    </div>
                </form>
                <table class="table">
                    <thead>
                    <tr>

                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam"
                               asp-route-currentFilter="@ViewData["currentFilter"]">
                                Name
                            </a>

                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.TagID">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.TagID">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["currentFilter"]" class="btn-default @prevDisabled btn">Previous</a>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["currentFilter"]" class="btn-default @nextDisabled btn">Next</a>

</div>