@model BeFit.Models.UserProfileViewModels.OneDayWorkoutViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <br/>
    <br/>
    <div class="row visible-lg-inline form-group">
        <h4>Total Workout at @Model.Date.Date</h4>
        <hr/>
        <label class="col-md-2 control-label">Cardio:</label>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => Model.CardioName)
        </div>
        <label class="col-md-2 control-label">Duration</label>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => Model.Duration)
        </div>
        <label class="col-md-2 control-label">Burn calories</label>
        <div class="col-md-1">
            <label>@ViewData["calories"]</label>
        </div>
    </div>
    <div class="form-group ">
        <br/>
        <p>
            <div class="pull-left">
                <label class="control-label">Strenght workout:</label>
                
            </div><br/><hr />
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <label>Exercise</label>
                </th>
                <th>
                    <label>Repeats</label>
                </th>
                <th>
                    <label>Sets</label>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.UserWorkoutViewModel.Exercises)
            {

                <tr>
                    <td>
                        @item.NameExercise
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Repeat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sets)
                    </td>

                </tr>


            }

            </tbody>


        </table>
        <hr/>
        <br/>
    </div>
    <a asp-action="Create" asp-route-id="@Model.AppUserID" class="btn btn-default" asp-route-oneDayWorkoutId="@ViewData["OneDayId"]">Edit</a> |
    <a asp-action="Delete" asp-route-id="@ViewData["OneDayId"]" class="btn btn-red">Delete </a> |
    <a asp-action="Index" asp-route-id="@Model.AppUserID" class="btn btn-grey">Back to All</a>
    <br/>
    <br/>
    <br/>
    <br/>
</div>