@model Exercise

@{
    ViewData["Title"] = "Exercise details";
}

<div class="container">
    <h2>
        @Html.DisplayFor(model => model.Name)
    </h2>
    <hr/>
    <dl class="dl-horizontal">
       
      
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Muscles)
        </dt>
        <dd>
            @if (Model.Muscles != null)
            {
                foreach (var item in Model.Muscles)
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.Muscle.Name)
                    </div>
                }
            }
        </dd>
        <dd>
            @if (Model.ImageData != null)

            {
                <img alt="Exercise image" style="max-height: 500px; margin-left: 100px" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))"/>
            }
        </dd>

    </dl>
    <div >
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ExerciseID" class="btn btn-danger">Edit</a>
        <a asp-action="Index" class="btn btn-grey">Back to List</a>
    }
    else
    {
            <a asp-action="List" asp-controller="Exercise" class="btn btn-grey ">Back to List</a>
        
    }

        <hr/>
</div>
</div>
