@model BeFit.Models.ExerciseViewModels.CreateExerciseViewModel


@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div>
        <h2>Edit</h2>

        <form method="post" asp-controller="AdminExercises" asp-action="Edit" class="form-horizontal" enctype="multipart/form-data">

            <div class="form-group">
                <h4>Exercise</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>
                <p>
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>

                        <div class="col-md-6">
                            <input asp-for="Description" class="form-control" multiline />
                            <span asp-validation-for="Description" class="text-danger" />
                        </div>
                    </div>
                </p>
                <p>
                <p>
                    <div class="form-group">
                        <label asp-for="Muscles" class="col-md-2 control-label"></label>

                        <div class="col-md-6">
                            @if (Model.Muscles != null)
            {
                                foreach (var item in Model.Muscles)
                                {<div>
                                @Html.DisplayFor(modelItem => item.Muscle.Name)
                            </div>

                                }}
                        </div>
                    </div>
                </p>
                <p>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Change to:</label>

                        <div class="col-md-6">

                            @if (Model.AllMuscles.Count() != 0)
                            {
                                int i = 0;
                                foreach (var muscl in Model.AllMuscles)
                                {
                                    <input id="@i" type="checkbox" name="@i" value="true" />
                                    <label asp-for="@i">@muscl.Name</label>
                                    i++;

                                }
                                <span asp-validation-for="Muscles" class="text-danger" />
                            }

                        </div>
                    </div>
                </p>

                <div class="form-group ">
                    @if (Model.ImageData != null)
            {<div>
                        <label class="col-md-2 control-label">Image</label>
                        <div class="col-md-8" style="margin-right: 10px">
                            <img style="width:100px; height:100px;" alt="Exercise image" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" />
                        </div>
                    </div>
                    }
                    <div>
                    <label class="col-md-2 control-label">Change image</label>
                        <div class="col-md-6">
                            <input type="file" name="image" />
                            
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Edit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a asp-action="Index" class="btn-danger">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
